<!-- TODO 
    - Add ejs variable that checks browser cookies and only displays this if cookies are not present.
-->

<div class="container fixed-bottom cookie-consent-form" id="cookie-consent-form">
    <div class="row border">
        <div class="col-lg-9 col-md-9 border">
            <p>Cookie Consent</p>
            <p class="d-md-block d-none">This website utilizes cookies to improve performance and tracks specific
                information to give the best user experience. To consent to this, please click 'I consent'.</p>
        </div>
                <!-- START second row containing two buttons -->
        <form action="/cookies/cookie-consent" method="POST" class="col border d-flex m-auto justify-content-around">
            <!-- START REJECT BUTTON --> <button name="reject" value="reject">I Reject!</button> <!-- END REJECT BUTTON -->
            <!-- START CONSENT BUTTON --> <button name="consent" value="consent">I Consent!</button> <!-- END CONSENT BUTTON -->
        </form> <!-- END second row containing two buttons -->
    </div>
</div>