<nav class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Left side of the navbar -->
        <h2 class="navbar-brand">Rust Genetics</h2>

        <!-- Right side of the navbar -->
        <ul class="navbar-nav ml-auto d-none d-md-flex">
            <li class="nav-item">
                <button class="nav-link rounded" href="#">Donate</button>
            </li>
            <li class="nav-item">
                <button  class="nav-link rounded" href="#">Discord</button>
            </li>
            <li class="nav-item">
                <button class="nav-link rounded" href="#">About</button>
            </li>
        </ul> 
    </div>
</nav>
