<nav class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Left side of the navbar -->
        <h2 class="navbar-brand">Rust Genetics</h2>

        <!-- Right side of the navbar -->
        <ul class="navbar-nav ml-auto d-none d-md-flex">
            <li class="nav-item">
                <a class="nav-link" href="#">Donate</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="#">Discord</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul> 
    </div>
</nav>
