body {
    --dark-background-color: black;
    --dark-text-color-: white;


    background-color: white;
    color: black;
}

body.dark {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color-);
}
.nav {
    background-color: white;
    color: black;
}
.nav.dark {
    background-color: grey;
    color: white;
}