<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: title}); %>
</head>
<body>
    <%- include('../partials/nav'); %>
    <button id="dark">Dark</button>
</body>
</html>